extends layout

block content
    form(action="/uploadProduct", method="post", enctype="multipart/form-data")
        input(type="text", name="title")
        input(type="file", multiple, name="file")
        button(type="submit", value="Upload") Upload File